

<ion-content fullscreen class="gradient-background" color="dark">
  <app-dinamic-header title="Viajes"></app-dinamic-header>

  <div class="content-wrapper content-container">   
  <div class="options-list">
    <h6>Opciones Principales</h6>
  <ion-list>
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="hourglass-outline"></ion-icon>
      </span>
      <ion-label>Reservas</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="map-outline"></ion-icon>
      </span>
      <ion-label>Múltiples destinos</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</div>

<div class="options-list">
  <h6>Lugares Frecuentes / Favoritos</h6>
  <ion-list>
    <!-- Item 1 -->
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="trending-up-outline"></ion-icon>
      </span>
      <div class="item-content">
        <ion-label>Av. de la Constitución, 45</ion-label>
        <div class="trip-details">Mar 29, 09:15 am</div>
      </div>
<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <!-- Item 2 -->
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="trending-up-outline"></ion-icon>
      </span>
      <div class="item-content">
        <ion-label>Calle Mayor, 12</ion-label>
        <div class="trip-details">Jue 31, 18:45</div>
      </div>
     <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <!-- Item 3 -->
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="trending-up-outline"></ion-icon>
      </span>
      <div class="item-content">
        <ion-label>Plaza Nueva, 3</ion-label>
        <div class="trip-details">Vie 1, 14:00</div>
      </div>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

     <!-- Item 3 -->
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="trending-up-outline"></ion-icon>
      </span>
      <div class="item-content">
        <ion-label>Plaza Nueva, 3</ion-label>
        <div class="trip-details">Vie 1, 14:00</div>
      </div>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

     <!-- Item 3 -->
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="trending-up-outline"></ion-icon>
      </span>
      <div class="item-content">
        <ion-label>Plaza Nueva, 3</ion-label>
        <div class="trip-details">Vie 1, 14:00</div>
      </div>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

  </ion-list>
</div>

<div class="options-list">
    <h6>Ajustes</h6>
  <ion-list>
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="people-outline"></ion-icon>
      </span>
      <ion-label>Perfil de Conductor Preferido</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item button lines="none" detail="false" class="option-item">
      <span class="icon-circle">
        <ion-icon name="notifications-outline"></ion-icon>
      </span>
      <ion-label>Notificaciones de Viaje</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</div>

  </div>
  
</ion-content>

