<form>

  <ion-segment
  name="contactMethod"
  class="ion-margin-top"
  value="email"
>
    <ion-segment-button value="email">
    <ion-label>Correo</ion-label>
  </ion-segment-button>
  <ion-segment-button value="phone">
    <ion-label>Teléfono</ion-label>
  </ion-segment-button>
  </ion-segment>

  <!-- Email -->
  <div  class="auth-input">
  <span class="icon" aria-hidden="true">
    <ion-icon name="mail-outline"></ion-icon>
  </span>

  <div class="input-wrapper">
    <input
      type="email"
      placeholder=" "
      aria-label="Correo electrónico"
    />
    <label for="email">Correo electrónico</label>
  </div>

  <button type="button" class="clear-btn" aria-label="Limpiar email">
    <ion-icon name="close-circle"></ion-icon>
  </button>
</div>

  <!-- Password -->
  <div class="auth-input">
  <span class="icon" aria-hidden="true">
    <ion-icon name="lock-closed-outline"></ion-icon>
  </span>

  <div class="input-wrapper">
    <input
      type="password"
      placeholder=" "
      aria-label="Contraseña"
    />
    <label for="password">Contraseña</label>
  </div>

  <button type="button" class="clear-btn" aria-label="Limpiar contraseña">
    <ion-icon name="close-circle"></ion-icon>
  </button>
</div>

  <!-- Enlace de contraseña olvidada -->
  <div class="forgot-password-container ion-text-center ion-margin-top">
    <a routerLink="/forgot-password" class="forgot-password-link">
      ¿Olvidaste tu contraseña?
    </a>
  </div>
</form>

<div class="link-container">
  <p>
    ¿No tienes cuenta?
    <a routerLink="/auth/register" class="link-action">Regístrate aquí</a>
  </p>
</div>
